<div class="row">
    <div class="col-md-4 col-lg-4 col-xl-4 all">
        <div>
            <h2>Title</h2>
            <img src="" alt="">
        </div>
        <div>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro natus sunt tenetur? Architecto eligendi dicta unde reprehenderit veritatis ut suscipit eum magnam! Dolor explicabo deleniti omnis excepturi ab ipsum laboriosam!</p>
        </div>
    </div>
    <div class="col-md-4 col-lg-4 col-xl-4 all">
        <div>
            <h2>Title</h2>
            <img src="" alt="">
        </div>
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur earum cumque, beatae repudiandae temporibus laudantium eligendi maiores, mollitia molestiae soluta illo esse hic ducimus nam quia autem. Odit, laudantium natus!</p>
        </div>
    </div>
    <div class="col-md-4 col-lg-4 col-xl-4 all">
        <div>
            <h2>Title</h2>
            <img src="" alt="">
        </div>
        <div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam suscipit incidunt harum unde assumenda, illo expedita. Tempora voluptatem, quos animi aspernatur quae itaque nesciunt, inventore porro quas necessitatibus omnis voluptas.</p>
        </div>
    </div>
</div>