<div class="row ">
    <div class="col-md-12 col-lg-12 col-xl-12 all-div player" [class.voted]="flipped" (click)="flipIt(1)">
        <div class="front">
            <h2>Title</h2>
            <img src="../../assets/img/food-sushi.jpg" class="images-card">
        </div>
        <div class="back">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro natus sunt tenetur? Architecto eligendi dicta unde reprehenderit veritatis ut suscipit eum magnam! Dolor explicabo deleniti omnis excepturi ab ipsum laboriosam!</p>
        </div>
    </div>
    <div class="col-md-12 col-lg-12 col-xl-12 all-div player1 " [class.voted1]="flipped1" (click)="flipIt(2)">
        <div class="front1">
            <h2>Title</h2>
            <img src="../../assets/img/food-churrasco.jpg" class="images-card">
        </div>
        <div class="back1">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro natus sunt tenetur? Architecto eligendi dicta unde reprehenderit veritatis ut suscipit eum magnam! Dolor explicabo deleniti omnis excepturi ab ipsum laboriosam!</p>
        </div>
    </div>
    <div class="col-md-12 col-lg-12 col-xl-12 all-div player2" [class.voted2]="flipped2" (click)="flipIt(3)">
        <div class="front2">
            <h2>Title</h2>
            <img src="../../assets/img/food-pf.jpg" class="images-card">
        </div>
        <div class="back2">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro natus sunt tenetur? Architecto eligendi dicta unde reprehenderit veritatis ut suscipit eum magnam! Dolor explicabo deleniti omnis excepturi ab ipsum laboriosam!</p>
        </div>
    </div>
</div>